.layout {
  padding: 1em;
  display: grid;
  grid-template-areas: 'users question question question question'
  'card card card card card';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.users {
  grid-area: users;
}

.question {
  grid-area: question;
}

.answers {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.mat-elevation-z0 {
  pointer-events: none;
}

.answer {
  min-height: 10em;
}

.answer:not(.mat-elevation-z0):not(.inactive) {
  cursor: pointer;

  &:hover {
    background: aliceblue;
  }
}

.card:not(.mat-elevation-z0) {
  cursor: pointer;

  &:hover {
    background: aliceblue;
  }
}

.delete-user {
  opacity: 0;
  transition: 0.2s;
}

.user:hover .delete-user {
  opacity: 1;
}
