<mat-toolbar color="primary">

  <a (click)="home()" mat-icon-button color="accent" aria-label="home">
    <mat-icon>home</mat-icon>
  </a>
  <span class="home-header">Карты против всех</span>

  <ng-container *ngIf="!user">
    <button mat-button (click)="loginGuest()">Зайти как гость</button>
    <button mat-button (click)="loginGoogle()">Зайти с помощью Google</button>
  </ng-container>

  <ng-container *ngIf="user">
    <span>Вы вошли как&nbsp;</span>
    <span>{{user.email ?? 'гость'}}</span>
    <button mat-button (click)="logout()">Выйти</button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
